<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        {{>header}}
        <h1>let me tell you about our page</h1>
        <p>This page uses mapbox.com and weatherstack.com api to show the forecast data of a certain location</p>
        <p>{{about}}</p>
        {{>footer}}
    </body>
</html>